@import url('https://fonts.googleapis.com/css2?family=New+Tegomin&display=swap');
:root{
    --font1: 'New Tegomin', serif;
    /* --font2: */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.body {
  background: url(../img/bg.jpg) no-repeat;
  min-height: 100vh;
  background-size: 100% 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#board {
  background: linear-gradient(rgb(118, 245, 118), rgb(208, 231, 145));
  height: 90vmin;
  width: 90vmin;
  border: 2px solid black;
  display: grid;
  grid-template-columns: repeat(18, 1fr);
  grid-template-rows: repeat(18, 1fr);
}
#score{
    position: absolute;
    top: 16px;
    right: 90px;
    font-size: 4rem;
    font-family: var(--font1);
}
#score span{
    color: blue;
    font-weight: 200;
}
#highScore{
    position: absolute;
    top: 115px;
    right: 30px;
    font-size: 3.4rem;
    font-family: var(--font1);
}
#highScore span{
    color: red;
    font-weight: 200;
}
.head {
    background: black;
  /* background: radial-gradient(rgb(238, 229, 149), rgb(95, 95, 95)); */
  border-radius: 14px;
  border: 0.25vmin solid white;
  transform: scale(1.1);
}
.tail {
    background: radial-gradient(rgb(238, 229, 149), rgb(95, 95, 95));
  /* background: radial-gradient(white, purple); */
  border-radius: 12px;
  border: 0.25vmin solid white;
}
.food {
  background: radial-gradient(orange, red);
  border-radius: 15px;
  border: 0.25vmin black solid;
  transform: scale(0.8);
}
